/*
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/fira-sans/FiraSans-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("../fonts/fira-sans/FiraSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
*/

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    color: #000;
    font-family: FiraSans, sans-serif;
    line-height: 1.4;
    padding-top: 0px;
    padding-bottom: 0px;
}

header, footer {
    padding: 1em;
    color: #fff;
    text-align: center;
    background: #003b4c;
    overflow: hidden;
    position: relative;
}

header h1 {
    margin: 0;
}

header h2 {
    color: rgba(255, 255, 255, .5);
    margin: .25em 0;
}

header a img {
    position: absolute;
    right: 1.3em;
    bottom: 1.3em;
}

header #backlink {
    position: absolute;
    top: 1.3em;
    left: 1.3em;
}

footer {
    margin-top: 1em;
}

footer img {
    margin-bottom: 1em;
    max-width: 100%;
}

footer a,
footer a:hover,
footer a:focus {
    color: #fff;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.links {
    padding: 1em;
    color: #fff;
    background-color: #001319;
}

.center {
    text-align: center;
}

.nocss {
    display: none;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* abbr[title], span[title] { cursor:help; } */

:lang(de) {
    quotes: "\201E" "\201C" "\201A" "\2018";
}

a,
a:hover,
a:focus {
    color: #999;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

p {
    margin: 0.5em 0 1em;
}

li {
    margin: 0.5em 0;
}
