label {
    font-weight: normal;
}

.greenbutton {
    color: #FFF;
    background: #8ebf2a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-color: #9C9C9C;
}

.greenbutton:hover {
    color: #FFF;
    background: #b6f235;
}