body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header, .marketing, .footer { padding-right: 15px; padding-left: 15px; }

#actionarea {
	max-width: 25em;
	margin: 18px 9px 0px 1em;
    padding:10px;
	background: #C4C3C3;
    border-radius: 5px;
	float:right;
}

#moreactionarea {
	max-width: 15em;
	margin: 18px 9px 0px 1em;
  padding:10px;
	background: #C6C6C6;
  border-radius: 5px;
	float:right;
}

.subheadline {
  font-size: .75em;
  color: rgba(255,255,255,.5)
}

@media (max-width: 900px) {
    .container {
    max-width: 100%;
  }

  #actionarea {
	max-width:100%;
	float:none;
	}
}
/*
@font-face {
	font-family: 'fira_sansregular';
		src: url('font/firasans-regular-webfont.eot');
		src: url('font/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/firasans-regular-webfont.woff2') format('woff2'),
		url('font/firasans-regular-webfont.woff') format('woff'),
		url('font/firasans-regular-webfont.ttf') format('truetype'),
		url('font/firasans-regular-webfont.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/*** Evil Reset ***/
* { margin:0; padding:0; }


html {
	margin:0;
	padding:0;
	color:#000;
}

body {
	color:#000;
	font-family:fira_sansregular, sans-serif;
	line-height:1.4;
}


/*** General Styles ***/

.nocss { display:none; }
/* abbr[title], span[title] { cursor:help; } */
:lang(de) { quotes:"\201E" "\201C"  "\201A" "\2018"; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
a:focus { text-decoration:underline; }
a:hover abbr { border:none; }

h1, h2 { text-align:center; margin:0 0 0.5em; }
h1 { font-size:2em; }
h2 { font-size:1.6em }
p { margin:0.5em 0 1em; }
li { margin:0.5em 0; }

section ul, section ol  { margin-left:1em; }
#actionarea section ul, section ol  { margin-left:0; }



.container {
	max-width: 80em;
	margin: 0 auto;
}


.paper {
	padding:1em 1em;
	background:#fff;
	color:#000;
	border-radius:0.2em;
	box-shadow:0 0 0.3em 0.1em #E4E5E6;
}

.indent {
	margin: 1em 0;
}

#actionarea h2 {
  font-size: 1.3em;
  text-align: left;
  margin: 1.3em 0 .9em 0;
}

#infoarea {
  padding: 5px;
  overflow: hidden;
}
/*** Page Layout ***/

noscript p {
	margin:0 -2em;
	border-bottom:solid 1px #000;
	padding:0.1em 0;
	background:#ee0;
	text-align:center;
}
noscript a { color:#262; }

header {
	position:relative;
	overflow:hidden;
	padding:1em 1em 0;
	background:#003b4c;
	color:#fff;
	text-align:center;
}
header h1 { font-size:2em; }

/*#akvorrat:after {
	content:'AKVorrat';
	position:absolute;
	top:-0.3em;
	right:-0.001em;
	color:rgba(255,255,255, 0.2);
	font-size:5em;
	font-weight:bold;
}*/

header h1 {
    font-size:3.2em;
	margin:0 0 0.35em;
}
header cite {
	position:relative;
	top:-2.1em;
	padding:0.3em 0.5em;
	color:#000;
	background:#8ebf2a;
	border-radius:0.3em;
}
blockquote {
	padding:1.5em 0 1em;
	margin:0 -2em;
	color:#003b4c;
	background:#f8f9fa;
}
blockquote p { margin:0; }
blockquote p:before { content:'»'; color:#8ebf2a; font-weight:bold; }
blockquote p:after  { content:'«'; color:#8ebf2a; font-weight:bold; }

.progress_bar {
	position:relative;
	overflow:hidden;
	max-width:30em;
	margin: 0 auto 1em;
	border:solid 1px #000;
	border-radius:0.3em;
	background: #fff;
}

.progress {
	background:#8Ebf2a;
	width:0;
  position: absolute;
  height: 100%;
}

.progress {
	width: 0px;
}

#progress_description {
  text-align: center;
  margin: 0;
  font-weight:bold;
  padding: .5em;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 10px #fff;
}


.actions { margin:0; }
.actions ul {
	list-style-type:none;
}

.actions li {
}

.shareicons {
	list-style-type:none;
}
.shareicons li {
  display:inline-block;
  margin: .3em 0.5em;
  width:auto;
}


.specialemphasis {
	max-width:35em;
	margin:1em auto;
	border:solid 0.2em #8ebf2a;
	padding:1em;
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
}


.glossar dl {
	width:20em;
	margin:1em auto;
}
/* Float-contain */
.glossar:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }
.glossar { display:inline-block; }
.glossar { display:block; }

.glossar dt {
	display:block;
	width:4em;
	clear:left;
	float:left;
	margin:0 0 0.75em;
}

.glossar dd {
	display:block;
	width:16em;
	float:left;
	margin:0 0 0.75em;
}


footer {
	margin-top:20px;
	padding:1em;
	background:#003b4c;
	color:#fff;
	text-align: center;
}
footer ul {
	list-style-type:none;
}
footer li {
	display:inline-block;
	margin:0 0.5em;
	vertical-align:top;
}

footer li img{
	height: 5em;
	margin: 1em 2em;
}

footer li a, footer a:hover, footer a:focus{
	color:#fff;
}

#tenpoints,
#fivedemands {
	padding: 1em 3em;
}

#wrapper-fazit section,
#wrapper-zeitplan section {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#wrapper-fazit {
	background-color: #8ebe2a
}

#wrapper-zeitplan {
	background-color: #013c4e
}


input[type=text], input[type=email], input[type="submit"], select {
  padding: .45em .6em;
  margin: 0.3em 0;
}

input[type=text], input[type=email], select {
  padding: .45em .6em;
  margin: 0.3em 0;
  border: 1px solid #aaa;
  width: 19em;
  max-width: 100%;
}

.inputSubmit {
  background: linear-gradient(#F7F7F7,#DDD);
}


.form-required {
	color: #f00;
}

label {
  margin-right: 0.4em;
  font-size: .95em;
}

.signpetition {
	text-align: left;
}

.signpetition ol li {
	width: 85%;
	display: list-item;
	max-width: 100%;
}

.signformLabel {
  display: inline-block;
  min-width: 6.4em;
}
#edit-submitted-deine-botschaft {
  width: 97%;
  font-family: inherit;
  font-size: inherit;
  padding: .45em .6em;
  margin: 0.3em 0;
  border: 1px solid #aaa;
}

input.form-submit, a.button, #spenden-button {
  color: #000;
  background: #A4D939;
  border: 1px solid #6E9917;
  border-radius: .3em;
  padding: .5em;
  margin: .2em 0;
  display: inline-block;
}

input.inputText {
width:16em;
}

.button-primary {
  font-size: 1.2em;
}

.demand_short {
	font-weight: bold;
}

.sectionimage {
	text-align:center;
	padding: .5em 0 0;
}

#akvorrat {
	position:absolute;
	top:12.5em;
	right:1.3em;
}
