.slideColumn {
    padding: 1.5em;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.slideContent {
    width: 40%;
    overflow: hidden;
    margin: auto;
}

.slider {
    width: 100%;
    text-align: center;
    color: #003b4c;
    background: #f8f9fa;
    display: table;
}

.sliderExpand {
    min-height: 2.3em;
    animation-name: sliderExpand;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sliderExpand {
    0% {
        max-height: 2.3em;
    }
    100% {
        max-height: 1000em;
    }
}

.sliderShrink {
    min-height: 2.3em;
    // animation-name: sliderShrink;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sliderShrink {
    0% {
        max-height: 1000em;
    }
    100% {
        max-height: 2.3em;
    }
}

.slider blockquote:before {
    content: '»';
    color: #8ebf2a;
    font-weight: bold;
}

.slider blockquote:after {
    content: '«';
    color: #8ebf2a;
    font-weight: bold;
}

#quoteFadeout {
	position: absolute;
	width: 32%;
	min-height: 2.3em;
	background: linear-gradient(to bottom, transparent, transparent 80%, #f8f9fa);
}

#quoteFadeout.sliderExpand {
	background: transparent;
}

.slide {
    display: table-cell;
    vertical-align: middle;
    font-size: 200%;
    width: 10%;
}

.slideUnselectable {
    color: #DDD;
}

.slide:hover {
    background-color: rgba(0, 0, 0, .05);
}

.slideForwards {
    animation-name: slideForwards;
    animation-duration: .6s;
}

@keyframes slideForwards {
    0% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
    50% {
        opacity: 0;
        transform: scale(3,3);
        transform: translate(-100%,0);
    }
    51% {
        transform: translate(100%,0);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
}

.slideBackwards {
    animation-name: slideBackwards;
    animation-duration: .6s;
}

@keyframes slideBackwards {
    0% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
    50% {
        opacity: 0;
        transform: scale(3,3);
        transform: translate(100%,0);
    }
    51% {
        transform: translate(-100%,0);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
}
