.sidebar {
    margin: 2em auto;
    background: #F8F9FA;
}

.sidetitle {
    padding: .5em;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    background: #003b4c;
}

.sidetext {
    padding: 1em;
}

#moreactionarea {
    max-width: 15em;
    margin: 18px 9px 0px 1em;
    padding: 10px;
    background: #C6C6C6;
    border-radius: 5px;
    float: right;
}

@media (max-width: 900px) {
    .container {
        max-width: 100%;
    }

    #actionarea {
        max-width: 100%;
        float: none;
    }

}

/*
@font-face {
	font-family: 'fira_sansregular';
		src: url('font/firasans-regular-webfont.eot');
		src: url('font/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/firasans-regular-webfont.woff2') format('woff2'),
		url('font/firasans-regular-webfont.woff') format('woff'),
		url('font/firasans-regular-webfont.ttf') format('truetype'),
		url('font/firasans-regular-webfont.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

article ul,
article ol {
    margin-left: 1em;
}

#actionarea article ul,
article ol {
    margin-left: 0;
}

.paper {
    padding: 1em 1em;
    background: #fff;
    color: #000;
}

.paper img {
    display: block;
    margin: auto;
}

.paper dt img {
    margin-left: 0;
}

.indent {
    margin: 2em 0;
}

.shadow {
    box-shadow: 0 0 0.3em 0.1em #E4E5E6;
}

#actionarea h2 {
    font-size: 1.3em;
    text-align: left;
    margin: 1.3em 0 .9em 0;
}

#infoarea {
    overflow: hidden;
}

/*** Page Layout ***/

.actions {
    margin: 0;
}

.actions ul {
    list-style-type: none;
}

.actions li {} .shareicons {
    list-style-type: none;
}

.shareicons li {
    display: inline-block;
    margin: .3em 0.5em;
    width: auto;
}

.specialemphasis {
    max-width: 35em;
    margin: 1em auto;
    border: solid 0.2em #8ebf2a;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.modal dl {
    width: 45em;
    margin: 1em auto;
    overflow: auto;
}

/* Float-contain */

.modal dt {
    display: block;
    width: 10%;
    clear: left;
    float: left;
    margin: 0 0 0.75em;
}

.modal dd {
    display: block;
    width: 80%;
    float: left;
    margin: 0 0 0.75em;
}

#tenpoints,
#fivedemands {
    padding: 1em 3em;
}

#wrapper-fazit article,
#wrapper-zeitplan article {
    margin: 2em;
}

#wrapper-fazit {
    background-color: #8ebe2a
}

#wrapper-zeitplan {
    background-color: #013c4e
}

.sectionimage {
    text-align: center;
    padding: 2em 0 0;
    margin-bottom: 2em;
}
