.sidebar {
    margin: 2em auto;
    background: #F8F9FA;
}

.sidetitle {
    padding: .5em;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    background: #003b4c;
}

.sidetext {
    padding: 1em;
}

article ul,
article ol {
    margin-left: 1em;
}

#actionarea article ul,
article ol {
    margin-left: 0;
}

.paper {
    padding: 1em 1em;
    background: #fff;
    color: #000;
}

.paper img {
    display: block;
    margin: auto;
}

.paper dt img {
    margin-left: 0;
}

.indent {
    margin: 2em 0;
}

.shadow {
    box-shadow: 0 0 0.3em 0.1em #E4E5E6;
}

#shareicons div {
    padding-left: 2px;
    padding-right: 2px;
}

.specialemphasis {
    max-width: 35em;
    margin: 1em auto;
    border: solid 0.2em #8ebf2a;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.modal dl {
    width: 45em;
    margin: 1em auto;
    overflow: auto;
}

.modal dt {
    display: block;
    width: 10%;
    clear: left;
    float: left;
    margin: 0 0 0.75em;
}

.modal dd {
    display: block;
    width: 80%;
    float: left;
    margin: 0 0 0.75em;
}

#tenpoints,
#fivedemands {
    padding: 1em 3em;
}

#wrapper-fazit article,
#wrapper-zeitplan article {
    margin: 2em;
}

#wrapper-fazit {
    background-color: #8ebe2a
}

#wrapper-zeitplan {
    background-color: #013c4e
}

.sectionimage {
    text-align: center;
    padding: 2em 0 0;
    margin-bottom: 2em;
}

.form-required {
    color: #f00;
    padding-left: 0.5ex;
}
