/* PROGRESS_BAR */

.progress_bar {
    position: relative;
    overflow: hidden;
    margin: 2em auto;
    border: solid 1px #9C9C9C;
    background: #F8F9FA;
}

.progress_volume {
    background: #8ebf2a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    width: 100%;
    position: absolute;
    transition: width 4s ease;
}

#progress_description {
    text-align: center;
    margin: 0;
    font-weight: bold;
    padding: 1em;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 10px #fff;
    font-size: 1.3em;
}

/* VARIOUS */

.highlight {
    background: #F8F9FA;
    padding: 1em;
}

#infoarea {
    padding: 0px;
    float: none;
    margin: 0px auto;
}

article ul,
article ol {
    margin-left: 1em;
}

#actionarea article ul,
article ol {
    margin-left: 0;
}

.paper {
    padding: 1em 1em;
    background: #fff;
    color: #000;
}

.paper h2 {
    text-align: center;
}

.paper img {
    display: block;
    margin: auto;
}

.paper dt img {
    margin-left: 0;
}

.indent {
    margin: 2em 0;
}

.shadow {
    box-shadow: 0 0 0.3em 0.1em #E4E5E6;
}

#shareicons div {
    padding-left: 2px;
    padding-right: 2px;
}

#countdown {
    max-width: 35em;
    margin: 1em auto;
    border: solid 0.2em #8ebf2a;
    padding: 1em;
    font-size: 1.2em;
}

.modal dl {
    width: 45em;
    margin: 1em auto;
    overflow: auto;
}

.modal dt {
    display: block;
    width: 10%;
    clear: left;
    float: left;
    margin: 0 0 0.75em;
}

.modal dd {
    display: block;
    width: 80%;
    float: left;
    margin: 0 0 0.75em;
}

#tenpoints,
#fivedemands {
    padding: 1em 3em;
}

#wrapper-fazit article,
#wrapper-zeitplan article {
    margin: 2em;
}

#wrapper-fazit {
    background-color: #8ebe2a
}

#wrapper-zeitplan {
    background-color: #013c4e
}

.sectionimage {
    text-align: center;
    padding: 2em 0 0;
    margin-bottom: 2em;
}

.form-required {
    color: #f00;
    padding-left: 0.5ex;
}
